.cukoo__header {
    display: flex;
}

.cukoo__header-content {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;

    margin-right: 5rem;
}

.cukoo__header-content h1 {
    font-family: var(--font-family);
    font-weight: 800;
    font-size: 62px;
    line-height: 75px;
    letter-spacing: -0.04em;
}

.cukoo__header-content p{
    font-family: var(--font-family);
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 27px;
    color:var(--color-text);

    margin-top: 1.5rem;

}

.cukoo__header-content__input{
    width: 100%;
    margin: 2rem 0 1rem;

    display: flex;
}

.cukoo__header-content__input input{
    flex: 2;
    width: 100%;
    min-height: 50px;
    font-family: var(--font-family);
    font-size: 20px; 
    line-height: 27px;
    background: var(--color-footer);
    border: 2px solid var(--color-footer);
    padding: 0 1rem;
    outline: none;
    color: #fff;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.cukoo__header-content__input button{
    flex: 0.6;
    width: 100%;
    min-height: 50px;
    font-family: var(--font-family);
    font-weight: bold;
    font-size: 20px;
    line-height: 27px;
    background: #FF4820;
    border-radius: 5px 0px 0px 5px; 
    color: #FFFFFF;
    cursor: pointer;
    outline: none;
    padding: 0 1rem;
    border: none;

    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.cukoo__header-content__people{
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 2rem;
}

.cukoo__header-content__people img{
    width: 181.79px;
    height: 38px;
}

.cukoo__header-content__people p{
    margin-left: 0 0 0 1rem;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 12px;
    line-height: 38px;
    color: #FFFFFF;
    text-align: center;
}

.cukoo__header-image {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cukoo__header-image img {
    width: 120%;
    height: 100%;
}

@media screen and (max-width: 1050px){
    .cukoo__header{
        flex-direction: column;
    }
    .cukoo__header-content {
        margin: 0 0 3rem;
    }
}

@media screen and (max-width: 650px){
    .cukoo__header h1{
        font-size: 48px;
        line-height: 60px;
    }
    .cukoo__header p {
        font-size: 16px;
        line-height: 24px;
    }
    .cukoo__header-content__people {
        flex-direction: column;

    }
    .cukoo__header-content__people p {
        margin: 0;
        
    }
    .cukoo__header-content__input input,
    .cukoo__header-content__input button {
        font-size: 16px;
        line-height: 24px;
    }
}

@media screen and (max-width: 490px){
    .cukoo__header h1{
        font-size: 36px;
        line-height: 48px;
    }
    .cukoo__header p {
        font-size: 16px;
        line-height: 24px;
    }
    .cukoo__header-content__input input,
    .cukoo__header-content__input button {
        font-size: 12px;
        line-height: 16px;
    }
}